cff-version: 1.2.0
message: "If you use this software, please cite it as below."
authors:
[% set given_name, family_name = full_name.split(' ') %]
- family-names: [[ family_name ]]
  given-names: [[ given_name ]]
title: [[ package ]]
version: "0.0.0"
date-released: "[[ year ]]-01-01"
keywords:
  - python
  - [[ keyword ]]
contact:
  - email: "[[ email ]]"
url: "https://github.com/[[ github_account ]]/[[ package|replace('_', '-') ]]"
repository-code: "https://github.com/[[ github_account ]]/[[ package|replace('_', '-') ]]"
