#!/bin/bash

# edited from:
# https://github.com/michaelberks/madym_cxx

# doi='10.5281/zenodo.5176080'
# echo "doi: $doi" >> CITATION.cff
git fetch
curr_date=$(date +'%Y-%m-%d')
version=$(git describe --tags --abbrev=0 | sed 's/v//g' || echo "0.0.0")
commit=$(git rev-parse HEAD)
github_url="https://github.com/[[ github_account ]]/[[ package|replace('_', '-') ]]"
# [% set given_name, family_name = full_name.split(' ') %]

contents="
cff-version: 1.2.0
message: \"If you use this software, please cite it as below.\"
authors:
- family-names: [[ family_name ]]
  given-names: [[ given_name ]]
title: [[ package ]]
version: \"${version}\"
date-released: \"$curr_date\"
keywords:
  - python
  - [[ keyword ]]
contact:
  - email: \"[[ email ]]\"
commit: \"$commit\"
url: \"$github_url\"
repository-code: \"$github_url\"
"

echo "$contents" | tail --lines=+2 > CITATION.cff
cat CITATION.cff
