Documentation
=============

Running tests
~~~~~~~~~~~~~

To run pytest in currently installed environment:

.. code:: bash

   poetry run pytest

To run full extensive test suite:

.. code:: bash

   poetry run invoke test

Formatting and linting
~~~~~~~~~~~~~~~~~~~~~~

Formatting and linting is done with a single command. First formats, then
lints.

.. code:: bash

   poetry run invoke format-and-lint

Building docs
~~~~~~~~~~~~~

Docs can be built locally to test that ReadTheDocs can also build them:

.. code:: bash

   poetry run invoke docs

Invoke usage
~~~~~~~~~~~~

To list all available commands from `tasks.py`:

.. code:: bash

   poetry run invoke --list

Development
-----------

Development dependencies include:

   -  invoke
   -  nox
   -  copier
   -  pytest
   -  coverage
   -  sphinx

Big thanks to all maintainers of the above packages!

License
-------

Copyright © [[ year ]], [[ full_name ]].
