Documentation
=============

Running tests
~~~~~~~~~~~~~

To run pytest in currently installed environment:

.. code:: bash

   pipenv run pytest

To run full extensive test suite:

.. code:: bash

   pipenv run invoke test

Building docs
~~~~~~~~~~~~~

Docs can be built locally to test that ReadTheDocs can also build them:

.. code:: bash

   pipenv run invoke docs

Invoke usage
~~~~~~~~~~~~

To list all available commands from `tasks.py`:

.. code:: bash

   pipenv run invoke --list

Development
-----------

Development dependencies include:

   -  invoke
   -  nox
   -  copier
   -  pytest
   -  coverage
   -  sphinx

Big thanks to all maintainers of the above packages!


License
-------

Copyright © [[ year ]], [[ full_name ]].
