.. Readme is included with cogapp
.. It fixes relative links to image files in the repository
[% raw %]
.. [[[cog
   from pathlib import Path

   import cog

   # Add conditions here if needed
   SKIP_CONDITIONS = []
   cog.outl("")
   readme = Path("README.rst")
   for line in readme.read_text().splitlines():
       if any(condition in line.lower() for condition in SKIP_CONDITIONS):
           continue
       # Make sure this functionality fits the project documentation structure
       if "figure::" in line:
           line = line.replace("docs_src/", "")
       cog.outl(line)
   ]]]

.. [[[end]]]
[% endraw %]

{{ package }}
========================

.. toctree::
   :maxdepth: 1
   :caption: Module documentation for developers

   apidoc/{{ package }}
